{% extends 'layout.html' %}


{% block content %}
{% include 'components/header.html' %}

<!-- 편집기 영역 -->


<main class="write__box">
    <form action="/user/write" method="post" class="write">
        <div class="write__info">

            <h1>게시글 구분</h1>
            <div class="write__sort">
                <select class="write__select" name="categoryMain" required>
                    <option value="" disabled selected>선택해주세요</option>
                    <option value="모집">모집</option>
                    <option value="자유게시판">게시판</option>
                </select>
            </div>

            <section class="write__group hidden">
                <h1 class="write__group--title">모집</h1>
                <div class="write__group--info">

                    <div>
                        <h3>모집구분</h3>
                        <select name="category">
                            <option value="공모전">공모전</option>
                            <option value="스터디">스터디</option>
                            <option value="프로젝트">프로젝트</option>
                        </select>
                        <h3>모집인원</h3>
                        <select name="human">
                            <option value="0">인원 미정</option>
                            <option value="1">1명</option>
                            <option value="2">2명</option>
                            <option value="3">3명</option>
                            <option value="4">4명</option>
                            <option value="5">5명</option>
                            <option value="6">6명</option>
                            <option value="7">7명</option>
                            <option value="8">8명</option>
                            <option value="9">9명</option>
                            <option value="10">10명</option>
                        </select>
                    </div>
                    <div>
                        <h3>모집 마감일</h3>
                        <input type="date" name="lastdate" id="todayDate" class="write__date">
                        <h3>기술 스택</h3>
                        <select id="options" onchange="updateSelectedStacks()">
                            <option value="" disabled selected>기술 스택을 선택해주세요</option>
                            <option value="javascript">JavaScript</option>
                            <option value="html_css">HTML/CSS</option>
                            <option value="react">React</option>
                            <option value="vue">Vue.js</option>
                            <option value="angular">Angular</option>
                            <option value="node">Node.js</option>
                            <option value="express">Express.js</option>
                            <option value="mongodb">MongoDB</option>
                            <option value="mysql">MySQL</option>
                        </select>

                    </div>

                </div>
            </section>
            <section class="select-stack hidden">
                <h1>선택한 스택</h1>
                <div class="selected-container" id="selected-container"></div>
                <input type="hidden" name="selectedStacks" id="selectedStacks">
            </section>
        </div>
        <div class="write__intro">
            <label for="write__title">제목</label>
            <input name="title" type="text" id="write__title" required>
            <div id="editor"></div>
            <input type="hidden" name="content" id="content">
            <div class="write__buttons">
                <a href="/page/1" class="write__back">뒤로가기</a>
                <button type="submit" class="write__upload">등록하기</button>
            </div>
        </div>
    </form>
</main>



<!-- TOAST UI Editor JS -->
<script src="/js/screen/write.js"></script> <!-- path 수정 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>

<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '500px',
        initialEditType: 'WYSIWYG',
        previewStyle: 'vertical',
        viewer: false,
        hideModeSwitch: true, // 밑에 스위치 제거
        toolbarItems: [
            // 툴바 옵션 설정
            ['heading', 'bold', 'italic', 'strike'],
            ['hr', 'quote'],
            ['ul', 'ol'],
            ['table', 'image', 'link'],
            ['code', 'codeblock']
        ]
    })

    let isSubmitting = false; // 중복 제출 방지 플래그 추가

    document.querySelector('.write').addEventListener('submit', function (event) {
        if (isSubmitting) return; // 이미 제출 중이면 함수 실행 중지

        event.preventDefault();
        const editorContent = editor.getHTML();
        document.querySelector('#content').value = editorContent;

        isSubmitting = true; // 제출 시작 전 플래그를 true로 설정
        this.submit();
    });



    document.querySelector('.write').addEventListener('submit', function (event) {
        event.preventDefault();
        const stackContent = document.querySelector('#selected-container');
        document.querySelector('#stack').value = stackContent;
        this.submit();
    });
    let selectedStacksArray = [];

    function updateSelectedStacks() {
        const optionsElement = document.getElementById("options");
        const selectedValue = optionsElement.value;
        const selectedContainer = document.getElementById("selected-container");
        const selectedStacksElement = document.getElementById("selectedStacks");

        if (!selectedStacksArray.includes(selectedValue)) {
            selectedStacksArray.push(selectedValue);

        }

        selectedStacksElement.value = JSON.stringify(selectedStacksArray);
    }
</script>


{% endblock %}