{% include 'components/nav.html' %}

<header class="header">
    <div class="header__left">
        <button class="header__menu">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a href="/page/1">
            <img class="header__logo" src="/img/logo.png" alt="">
        </a>
    </div>
    <div class="header__buttons">
        <a class="write-chat" href="/chatmake">채팅방 개설</a>
        <a class="write-team" href="/teammake">팀 만들기</a>
        <a class="write-btn" href="/write">글작성</a>
    </div>

</header>