<div class="menu-page ">
    <nav class="menu-bar">
        <div class="menu-bar__top">
            <button class="menu-bar__close">
                <i class="fa-solid fa-angles-left"></i>
            </button>
            <img class="menubar__logo" src="/img/logo.png" alt="">
            <div></div>
        </div>
        <div class="menu-bar__head">
            <h1 class="menu-bar__title">환영합니다:)</h1>
            <h1 class="menu-bar__title">{{obj.user_name}}님
            </h1>
            <div class="menu-bar__buttons">
                <div>
                    <button><a href="/chat"><i class="fa-solid fa-comment"></i></a></button>
                    <span>나의 채팅</span>
                </div>
                <div>
                    <button><a href="https://github.com/{{ obj.user_email}}" target="_blank"><i
                                class="fa-brands fa-github"></i></a></button>
                    <span>깃허브</span>
                </div>
            </div>
            <ul class="menu-bar__list">
                <li><a href="/user/mypost">작성글</a></li>
                <li><a href="/user/myteam">나의 팀</a></li>

                <div class="menu-bar__footer">
                    <li><a href="/user/logout">logout</a></li>
                    <li class="menu-bar__list--black"><a href="/user/setting"><i class="fa-solid fa-gear"></i></a></li>
                </div>
            </ul>
        </div>
    </nav>
    <section class="nav__black">

    </section>

</div>